@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}
.container{width: 1260px; height: inherit; margin: 0 auto;/*  background: rgba(0, 0, 0, .1); */}

/* 레이아웃 */
#wrap{width: 100%;}
#header{width: 100%; height: 200px; background: #38bab2; background: linear-gradient(90deg, rgba(56,186,178,1) 0%, rgba(56,186,178,1) 76%, rgba(0,114,171,1) 80%, rgba(0,50,130,1) 100%);}
#main{width: 100%; height: auto;}
#footer{width: 100%; height: 400px;}


/* 헤더영역 */

/* top */
.top{width: 100%; height: 37px; background: -webkit-linear-gradient(top,rgb(245, 245, 245),#ebebeb); line-height: 37px; float: left; position: relative;}
.top .left{float: left;}
.top .left ul li{float: left;}
.top .left ul li::after{content: ""; width: 1px; height: 10px; background: rgb(207, 207, 207); display: inline-block;}
.top .left ul li:last-child::after{display: none}
.top .left ul li a{margin: 0 10px; color: rgb(165, 165, 165); font-size: 12px;}
.top .left ul li:first-child a{margin-left: 0;}
.top .right ul{float: right;}
.top .right ul li{float: left;}
.top .right ul li::after{content: ""; width: 1px; height: 10px; background: rgb(207, 207, 207); display: inline-block;}
.top .right ul li:last-child::after{display: none}
.top .right ul li a{margin: 0 10px; color: rgb(165, 165, 165); font-size: 12px;}
.top .right ul li:last-child a{margin-right: 0;}

/* title */
.title{width: 100%; height: 94px; background: rgb(255, 255, 255); position: relative; top: 37px; border-top: 1px solid rgb(212, 212, 212);}
.title h1>span{font-size: 16px; letter-spacing: -1.2px; margin-left: 13px; width: 220px; position: absolute; bottom: 10px; position: relative; bottom: 10px; left: 5px; font-weight: 530;}
.title h1>span>span{color: rgb(75, 188, 171);}
.title .logo{float: left;}
.title .search{float: right;}
.title .search a{padding: 10px 80px 10px 10px; border-radius: 7px; background: rgb(241, 241, 241) url(../img/잡아바홈화면/btn_searchbar.png) no-repeat 175px 11px; color: #cacaca;}

/* 메뉴 */
.nav{width: 100%; margin: 0 auto; height: 70px; background: #38bab2; position: relative; top: 37px; background: linear-gradient(90deg, rgba(56,186,178,1) 0%, rgba(56,186,178,1) 76%, rgba(0,114,171,1) 80%, rgba(0,50,130,1) 100%);}
.nav .bg{display: none; background: #fff; position: absolute; top: 69px; left: 0; width: 100%; height: 295px; background: rgb(255, 255, 255); z-index: 2;  border-bottom: 1px solid rgb(218, 218, 218);}
.nav:hover .bg{display: block;}

.bg_blue{background: linear-gradient(90deg, #00a8cd 32%, #0072ab 100%); border-top-left-radius: 40px; border-bottom-left-radius: 40px; box-shadow: -5px 0px 8px rgba(63, 63, 63, 0.291);}
.nav .bg .dep1:hover{z-index: 3;}
.nav .dep1{text-align: center;}
.nav .dep1>li:hover>a{color: rgb(255, 244, 86);}
.nav .dep1>li>ul{position: absolute; z-index: 3;}
.nav .dep1>li{float: left; width: 170px; height: 70px; cursor: pointer;}
.nav .dep1>li>a{width: 100%; height: 100%; color: #fff; font-size: 15px; line-height: 70px;}
.nav .dep1>li>ul{display: none; background: white; width: 100%; height: 243px;}
.nav:hover .dep1>li>ul{display: block;}
.nav .dep1>li>.dep2{width: 170px;}
.nav .dep1>li>.bg_gray{background: rgb(249, 249, 249); width: 240px; height: 243px;}
.nav .dep1>li>ul>li:first-child{margin-top: 35px;}
.nav .dep1>li>ul>li{display: block; margin-top: 20px; line-height: 100%; font-size: 14px; letter-spacing: -.7px; width: 100%;}
.nav .dep1>li>ul>li>a{width: 170px; display: block;}
.nav .dep1:hover>li>ul>li{display: block;}
.nav .dep1>li>.dep2>li:hover>a{color: rgb(74, 107, 197); font-weight: bold;}

/* 메뉴 2뎁스 흰배경, 공지바 */
.nav .bg .notice_bar{position: absolute; bottom: 0px; left: 0; background: #fff; width: 100%; height: 50px; display: none; border-top: 1px solid rgb(218, 218, 218);}
.nav .dep1:hover, .nav .bg .notice_bar{display: block;}
.nav .bg .notice_bar strong{line-height: 50px; font-weight: bold; font-size: 14px; letter-spacing: -.5px;}
.nav .bg .notice_bar span{line-height: 50px; font-size: 14px; letter-spacing: -.7px;}
.nav .bg .notice_bar .ico{background: url(../img/잡아바홈화면/ico_innergnb.png) no-repeat; width: 26px; height: 26px; display: inline-block; vertical-align: middle; margin-right: 5px;}

.nav .bg .noticebar_left{float: left; width: 100px; font-weight: bold;}
.nav .bg .noticebar_mid{float: left; width: 920px;}
.nav .bg .noticebar_right{float: left; width: 240px; font-weight: bold;}
.nav .bg .noticebar_right .icon2{background-position: -26px 0; margin-left: 10px;}
.nav .bg .noticebar_right .icon3{background-position: -52px 0; margin-left: 15px;}

.nav .bg .noticebar_right span{width: 122px; height: 100%;}
.nav .bg .noticebar_right span>span{width: 100px; float: left;}



/* 본문영역 */
.list_wrap{background: rgb(172, 212, 168); width: 100%; height: 5273px; margin: 80px auto 0;}
.list_category{width: 260px; height: 100%; background: rgb(255, 231, 204); float: left; margin-right: 40px;}

.sinario_btn{font-size: 16px; letter-spacing: -1px; background: rgb(245, 245, 245); width: 100%; height: 60px; border-radius: 5px; line-height: 60px; margin-bottom: 20px;}
.sinario_btn a{position: relative;}
.sinario_btn a .arr{background: red url(../img/잡아바홈화면/arrow_slick.png) no-repeat; width: 15px; height: 20px; position: absolute; top: 0; right: 0;}

.btn_area{width: 100%; height: 34px;}
.btn_area a.reset{background: #fff; margin-right: 6px; border: 1px solid gray; color: rgb(66, 66, 66);}
.btn_area a.reset span{width: 12px; height: 14px;}
.btn_area a{float: left; text-align: center; border: 1px solid #38bab2; border-radius: 5px; background: #38bab2;width: 127px; height: 32px; line-height: 30px; color: #fff; font-size: 14px;}
hr{border-style: none; background: rgb(223, 223, 223); width: 260px; height: 1px; margin: 20px 0;}


.s_tit{font-size: 18px; font-weight: bold; margin-bottom: 15px;}
.category_area ul{font-size: 14px; color: rgb(63, 63, 63);}
.category_area.b_t ul li{margin: 10px 0;}



.category_area.region li{float: left; width: 100px; margin-bottom: 20px;}
.category_area.region li a{font-size: 14px; color: rgb(73, 73, 73); }
.category_area.region li a input{width: 22px; height: 22px; border: 1px solid red; margin-right: 5px; position: relative;}
.category_area.region li a input span{position: absolute; left: 0; top: 10px;}

.target{}
.target ul{}
.target ul li{}
.target ul li a{}
.target ul li a input{}
.target ul li a input span{}






.hot_tit{}
.hot_tit_date{}


.list_con_wrap{width: 960px; height: 100%; background: rgb(221, 241, 195); float: left; padding-left: 20px;}
.list_con_wrap .tit{font-size: 24px; margin-bottom: 40px;}
.hot_wrap_con{float: left; margin-right: 20px;}
.hot_wrap_con:last-child{margin-right:0;}
.hot_wrap_con img{border-radius: 10px;}
.hot_wrap_con span{display: block; width: 40px; height: 20px; border: 1px solid #fc7a5a; border-radius: 20px; text-align: center; font-size: 10px; line-height: 20px; color: #fc7a5a; margin: 15px 0 10px 0;}
.hot_wrap_con .hot_tit{font-size: 20px; letter-spacing: -1px; margin-bottom: 10px;}
.hot_wrap_con .hot_tit_date{font-size: 14px; color: rgb(95, 95, 95);}


.check_picked{}
.check_picked div{border: 1px solid gainsboro; margin: 60px 0 10px 0; padding: 30px 25px; border-radius: 10px;}
.check_picked div span{background: rgb(231, 231, 231); border: 1px solid gainsboro; border-radius: 5px; padding: 10px; font-size: 14px;}

.btn_area2{}
.btn_area2_float{float: right;}
.btn_area2 a.reset{background: #fff; margin-right: 6px; border: 1px solid gray; color: rgb(66, 66, 66);}
.btn_area2 a.reset span{width: 12px; height: 14px;}
.btn_area2 a{float: left; text-align: center; border: 1px solid #38bab2; border-radius: 5px; background: #38bab2;width: 100px; height: 32px; line-height: 30px; color: #fff; font-size: 14px; letter-spacing: -1px;}

.select_wrap{}
.select_wrap .recent_select{}
.select_wrap .num_select{}

.tag_area{width: 100%; height: 81px; background: rgb(255, 255, 255);}
.tag_area .category_ul{}
.tag_area .category_ul li{float: left;}
.tag_area .category_ul li span{}


.pop_tags_wrap{width: 100%; height: 28px; background: rgb(209, 189, 230); padding-bottom: 20px; border-bottom: 1px solid rgb(255, 45, 45);}
.pop_tags_wrap{}
.pop_tags_wrap p{float: left;}
.pop_tags_wrap ul{float: right;}
.pop_tags_wrap ul li{float: left;}
.pop_tags_wrap ul li a{}


.list_area{}
.list_wrap{}
.list_wrap ul{}
.list_wrap ul li{padding: 10px 0;}
.list_wrap ul li a{width: 100%; height: 133px;}
.list_wrap ul li a img{float: left; width: 160px; height: 120px; margin-right: 20px; border-radius: 10px; object-fit: cover;}
.list_wrap ul li a .img_right_text{float: left;}
.list_wrap ul li a .img_right_text p{font-size: 14px;}
.list_wrap ul li a .img_right_text p.img_right_text_tit{font-size: 20px; letter-spacing: -1px;}
.list_wrap ul li a .img_right_text p:last-child{color: gray;}
.list_wrap ul li a .img_right_text span{font-weight: bold;}
.list_wrap ul li a .icons{float: right;}
.list_wrap ul li a .icons img{width: 30px; height: 30px; background: white; border-radius: 50%;}
.list_wrap ul li a .icons .heart img{}
.list_wrap ul li a .icons .ring img{}










/* 하단영역 */
#footer{width: 100%; height: 398px;}
.fnb_wrap{width: 100%; height: 60px; border-top: 1px solid rgb(226, 226, 226); border-bottom: 1px solid rgb(226, 226, 226);}
.fnb{float: left;}
.fnb ul{}
.fnb ul li{float: left; margin-right: 20px; line-height: 58px;}
.fnb ul li:after{content: "|"; color: rgb(226, 226, 226); display: inline-block;}
.fnb ul li:last-child:after{width: 0;}
.fnb ul li a{margin-right: 20px; font-size: 1.1em;}
.fnb ul li a span{color: rgb(255, 70, 24); font-weight: bold;}
.family_site{float: right; line-height: 60px; position: relative;}
.family_site select{padding: 10px 20px; border-radius: 5px; border: none; appearance: none; background: rgb(245, 245, 245); font-weight: bold;}
.family_site select option{float: left;}
.family_site_arr{background: url(../img/잡아바홈화면/f_select_sign.png) no-repeat; width: 13px; height: 8px; position: absolute; right: 10px; top: 25px;}

.f_num_area{width: 100%; height: 187px;}
.num_logo{width: 180px; height: 170px; background: url(../img/잡아바홈화면/f_logo.png) no-repeat left  20px top 40px; float: left;}
.f_info_area{float: left; width: 220px; height: 100%; padding-top: 46px;}
.f_info_area p:first-child{font-size: 1.3em; font-weight: bold; margin: 5px 0 20px 0; color: #0c0c0c;}
.f_info_area p{font-size: .9em; color: rgb(112, 112, 112); margin-bottom: 5px;}
.f_number{float: left;}
.f_number .num_left{width: 320px; height: 54px; padding-top: 46px; float: left;}
.f_number .num_left span{display: block; float: left; font-size: .95em; color: #0c0c0c; line-height: 200%; font-size: 12px;}
.f_number .num_left span.num_left_tit{width: 150px;}
.f_number .num_left span.bold_num{width: 170px; font-weight: bold; color: #353535;}
.f_number .num_right{width: 320px; height: 54px; padding-top: 46px; float: left;}
.f_number .num_right span{display: block; float: left; font-size: .95em; color: rgb(112, 112, 112); line-height: 200%; font-size: 12px;}
.f_number .num_right span.num_left_tit{width: 150px;}
.f_number .num_right span.bold_num{width: 170px; font-weight: bold; color: #353535;}

.f_sns{float: right; width: 200px; height: 131px;}
.f_sns>a{width: 100%; height: 76px; background: url(../img/잡아바홈화면/gyeonggi_slogan.png) no-repeat top center; display: block; margin-top: 30px;}
.f_sns .sns_list{width: 100%; height: 55px;}
.f_sns .sns_list a{}
.f_sns .sns_list a span{width: 40px; height: 40px; display: block; float: left;}
.f_sns .sns_list a span.facebook{background: url(../img/잡아바홈화면/f_face_ico.png) no-repeat center;}
.f_sns .sns_list a span.insta{background: url(../img/잡아바홈화면/f_insta_ico.png) no-repeat center;}
.f_sns .sns_list a span.youtube{background: url(../img/잡아바홈화면/f_youtube_ico.png) no-repeat center;}
.f_sns .sns_list a span.appstore{background: url(../img/잡아바홈화면/appstore.png) no-repeat center;}
.f_sns .sns_list a span.playstore{background: url(../img/잡아바홈화면/playstore.png) no-repeat center;}