@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}
.container{width: 1260px; height: inherit; margin: 0 auto;/*  background: rgba(0, 0, 0, .1); */}

/* 레이아웃 */
#wrap{width: 100%;}
#header{width: 100%; height: 200px; background: #38bab2; background: linear-gradient(90deg, rgba(56,186,178,1) 0%, rgba(56,186,178,1) 76%, rgba(0,114,171,1) 80%, rgba(0,50,130,1) 100%);}
#main{width: 100%; height: auto;}
#footer{width: 100%; height: 400px;}


/* 헤더영역 */

/* top */
.top{width: 100%; height: 37px; background: -webkit-linear-gradient(top,rgb(245, 245, 245),#ebebeb); line-height: 37px; float: left; position: relative;}
.top .left{float: left;}
.top .left ul{}
.top .left ul li{float: left;}
.top .left ul li::after{content: ""; width: 1px; height: 10px; background: rgb(207, 207, 207); display: inline-block;}
.top .left ul li:last-child::after{display: none}
.top .left ul li a{margin: 0 10px; color: rgb(165, 165, 165); font-size: 12px;}
.top .left ul li:first-child a{margin-left: 0;}
.top .right{}
.top .right ul{float: right;}
.top .right ul li{float: left;}
.top .right ul li::after{content: ""; width: 1px; height: 10px; background: rgb(207, 207, 207); display: inline-block;}
.top .right ul li:last-child::after{display: none}
.top .right ul li a{margin: 0 10px; color: rgb(165, 165, 165); font-size: 12px;}
.top .right ul li:last-child a{margin-right: 0;}

/* title */
.title{width: 100%; height: 94px; background: rgb(255, 255, 255); position: relative; top: 37px; border-top: 1px solid rgb(212, 212, 212);}
.title h1>span{font-size: 16px; letter-spacing: -1.2px; margin-left: 13px; width: 220px; position: absolute; bottom: 10px; position: relative; bottom: 10px; left: 5px;}
.title h1>span>span{color: rgb(75, 188, 171);}
.title .logo{float: left;}
.title .search{float: right;}
.title .search a{padding: 10px 80px 10px 10px; border-radius: 7px; background: rgb(241, 241, 241) url(../img/잡아바홈화면/btn_searchbar.png) no-repeat 175px 11px; color: #cacaca;}

/* 메뉴 */
.nav{width: 100%; margin: 0 auto; height: 70px; background: #38bab2; position: relative; top: 37px; background: linear-gradient(90deg, rgba(56,186,178,1) 0%, rgba(56,186,178,1) 76%, rgba(0,114,171,1) 80%, rgba(0,50,130,1) 100%);}
.nav .bg{display: none; background: #fff; position: absolute; top: 69px; left: 0; width: 100%; height: 295px; background: rgb(255, 255, 255); z-index: 2;  border-bottom: 1px solid rgb(218, 218, 218);}
.nav:hover .bg{display: block;}

.bg_blue{background: linear-gradient(90deg, #00a8cd 32%, #0072ab 100%); border-top-left-radius: 40px; border-bottom-left-radius: 40px; box-shadow: -5px 0px 8px rgba(63, 63, 63, 0.291);}
.nav .bg .dep1:hover{z-index: 3;}
.nav .dep1{text-align: center;}
.nav .dep1>li:hover>a{color: rgb(255, 244, 86);}
.nav .dep1>li>ul{position: absolute; z-index: 3;}
.nav .dep1>li{float: left; width: 170px; height: 70px; cursor: pointer;}
.nav .dep1>li>a{width: 100%; height: 100%; color: #fff; font-size: 15px; line-height: 70px;}
.nav .dep1>li>ul{display: none; background: white; width: 100%; height: 243px;}
.nav:hover .dep1>li>ul{display: block;}
.nav .dep1>li>.dep2{width: 170px;}
.nav .dep1>li>.bg_gray{background: rgb(249, 249, 249); width: 240px; height: 243px;}
.nav .dep1>li>ul>li:first-child{margin-top: 35px;}
.nav .dep1>li>ul>li{display: block; margin-top: 20px; line-height: 100%; font-size: 14px; letter-spacing: -.7px; width: 100%;}
.nav .dep1>li>ul>li>a{width: 170px; display: block;}
.nav .dep1:hover>li>ul>li{display: block;}
.nav .dep1>li>.dep2>li:hover>a{color: rgb(74, 107, 197); font-weight: bold;}

/* 메뉴 2뎁스 흰배경, 공지바 */
.nav .bg .notice_bar{position: absolute; bottom: 0px; left: 0; background: #fff; width: 100%; height: 50px; display: none; border-top: 1px solid rgb(218, 218, 218);}
.nav .dep1:hover, .nav .bg .notice_bar{display: block;}
.nav .bg .notice_bar strong{line-height: 50px; font-weight: bold; font-size: 14px; letter-spacing: -.5px;}
.nav .bg .notice_bar span{line-height: 50px; font-size: 14px; letter-spacing: -.7px;}
.nav .bg .notice_bar .ico{background: url(../img/잡아바홈화면/ico_innergnb.png) no-repeat; width: 26px; height: 26px; display: inline-block; vertical-align: middle; margin-right: 5px;}

.nav .bg .noticebar_left{float: left; width: 100px; font-weight: bold;}
.nav .bg .noticebar_mid{float: left; width: 920px;}
.nav .bg .noticebar_right{float: left; width: 240px; font-weight: bold;}
.nav .bg .noticebar_right .icon2{background-position: -26px 0; margin-left: 10px;}
.nav .bg .noticebar_right .icon3{background-position: -52px 0; margin-left: 15px;}

.nav .bg .noticebar_right span{width: 122px; height: 100%;}
.nav .bg .noticebar_right span>span{width: 100px; float: left;}



/* 본문영역 */
.ncs_header{width: 100%; height: 940px; background: #6580e1 url(../img/잡아바홈화면/직업훈련/인적성ncs교육/bg_header3.png) no-repeat; position: relative; padding: 170px 0 104px 0;}
.ncs_header .ncs_header_tit{text-align: center;}
.ncs_header .ncs_header_tit img{position: absolute; top: 180px; width: 676px; height: 295px;}
.ncs_header ul{}
.ncs_header ul li{}
.ncs_header ul li img{}



.videoEdu_wrap{}
.videoEdu_wrap .vEdu_header{background: #e8eeff; position: relative; width: 100%; height: 354px;}
.videoEdu_wrap .vEdu_header .container{background: url(../img/잡아바홈화면/직업훈련/visual_img.png) no-repeat right top 50px;}
.videoEdu_wrap .vEdu_header .vEdu_header_titBox{}
.videoEdu_wrap .vEdu_header .vEdu_header_titBox h2{color: #0e1f57; font-weight: 700; font-size: 34px; padding-top: 80px;}
.videoEdu_wrap .vEdu_header .vEdu_header_titBox p{margin: 16px 0; font-size: 16px;}
.videoEdu_wrap .vEdu_header .icons{position: absolute; top: 250px; left: 50%; transform: translateX(-50%); width: 1260px;}
.videoEdu_wrap .vEdu_header .icons ul{}
.videoEdu_wrap .vEdu_header .icons ul li{background: #fff; box-shadow: 0 0 5px #ddd; border-radius: 20px; padding: 130px 20px 20px; float: left; width: 400px; height: 253px; text-align: center;}
.videoEdu_wrap .vEdu_header .icons ul li:not(:last-child){margin-right: 30px;}
.videoEdu_wrap .vEdu_header .icons ul li strong{font-size: 23px; font-weight: 400; position: relative;}
.videoEdu_wrap .vEdu_header .icons ul li strong::before{content: ''; position: absolute; width: 51px; height: 60px; top: -80px; left: 50%; transform: translateX(-50%); background: url(../img/잡아바홈화면/직업훈련/ico01.png) no-repeat;}
.videoEdu_wrap .vEdu_header .icons ul li:nth-child(2) strong::before{content: ''; position: absolute; width: 54px; height: 52px; top: -72px; left: 50%; transform: translateX(-50%); background: url(../img/잡아바홈화면/직업훈련/ico02.png) no-repeat;}
.videoEdu_wrap .vEdu_header .icons ul li:nth-child(3) strong::before{content: ''; position: absolute; width: 53px; height: 61px; top: -81px; left: 50%; transform: translateX(-50%); background: url(../img/잡아바홈화면/직업훈련/ico03.png) no-repeat;}
.videoEdu_wrap .vEdu_header .icons ul li p{margin-top: 20px; font-size: 16px; color: #666;}

.videoEdu_wrap .search_box{background: #f6f7f9; border: 1px solid #e6e6e6; border-radius: 20px; padding: 20px; margin-top: 200px;}
.videoEdu_wrap .search_box .sesearch_box_text{}
.videoEdu_wrap .search_box .sesearch_box_text p{font-size: 16px; float: left; margin-right: 250px;}
.videoEdu_wrap .search_box .search_box_category{}
.videoEdu_wrap .search_box .search_box_category select{outline: none; border: 1px solid #ddd; padding: 5px;}
.videoEdu_wrap .search_box .search_box_category select#category{width: 300px; margin-right: 8px;}
.videoEdu_wrap .search_box .search_box_category select#education{width: 300px;}
.videoEdu_wrap .search_box .search_box_search{}
.videoEdu_wrap .search_box .search_box_search .search_text{float: left;}
.videoEdu_wrap .search_box .search_box_search .search_text input{outline: none; border: 1px solid #ddd; padding: 8px; margin-top: 10px; width: 1120px;}
.videoEdu_wrap .search_box .search_box_search .search_btn{float: right;}
.videoEdu_wrap .search_box .search_box_search .search_btn button{background: #ff6163; color: #fff; width: 88px; border-radius: 5px; height: 37px; transform: translateY(10px); font-size: 14px;}
.videoEdu_wrap .hashtags{margin: 30px 0 80px;}
.videoEdu_wrap .hashtags a{float: left; background: #fff; color: #666; border: 1px solid #ddd; border-radius: 5px; padding: 5px 10px; margin-right: 10px; font-size: 14px;}
.videoEdu_wrap .tabs{width: 100%; text-align: center; margin-bottom: 30px;}
.videoEdu_wrap .tabs a{background: #f6f7f9; float: left; width: 315px; display: block; border: 1px solid #e6e6e6; padding: 13px 0; font-size: 14px; margin-right: -1px;}
.videoEdu_wrap .tabs a.active{background: #fff; color: #38bab2; border: 1px solid #000; border-bottom: none; font-weight: 500; margin-right: 0;}

.videoEdu_wrap .items{text-align: right;}
.videoEdu_wrap .items .item_sort{display: inline-block; margin: 20px 0;}
.videoEdu_wrap .items .item_sort select{padding: 5px 10px; outline: none; border: 1px solid #e6e6e6; width: 130px; color: #888; font-size: 15px;}

.videoEdu_wrap .items .items_box{text-align: left;}
.videoEdu_wrap .items .items_box ul{}
.videoEdu_wrap .items .items_box ul li{width: 228px; float: left; margin-right: 30px; margin-bottom: 30px;}
.videoEdu_wrap .items .items_box ul li:nth-child(5n){margin-right: 0;}
.videoEdu_wrap .items .items_box ul li a .img_wrap{border-radius: 10px; margin-bottom: 15px; position: relative;}
.videoEdu_wrap .items .items_box ul li a .img_wrap img{border-radius: 10px; width: 228px; height: 145px;}
.videoEdu_wrap .items .items_box ul li a .img_wrap .runtime{position: absolute; bottom: 4px; left: 0; width: 68px; height: 20px; background: rgba(0,0,0,.6); border-bottom-left-radius: 10px; border-top-right-radius: 10px;}
.videoEdu_wrap .items .items_box ul li a .img_wrap .runtime span{position: relative; color: #fff; padding-left: 25px; font-size: 12px;}
.videoEdu_wrap .items .items_box ul li a .img_wrap .runtime span::before{content: ''; position: absolute; width: 10px; height: 10px; top: 50%; left: 8px; transform: translateY(-50%); background: url(../img/잡아바홈화면/직업훈련/time_icon.png) no-repeat;}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .state{color: #fff; font-weight: bold; font-size: 12px; padding: 3px 15px; border-radius: 5px;}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .state.hot{background: #f62626;}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .state.new{background: #00a8cd;}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .item_title{font-size: 15px; margin-top: 10px; line-height: 1.3; color: #333; margin-bottom: 20px;}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .item_count{}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .item_count span{color: #666; font-size: 14px; position: relative; margin-right: 15px;}
.videoEdu_wrap .items .items_box ul li a .item_text_wrap .item_count span:first-child::after{content: ''; position: absolute; width: 1px; height: 13px; background: #ccc; right: -12px; top: 50%; transform: translateY(-50%);}
.videoEdu_wrap .items .items_page{text-align: center; padding: 20px 0 50px;}
.videoEdu_wrap .items .items_page a{font-size: 13px; margin: 10px 25px; color: #666;}
.videoEdu_wrap .items .items_page a:hover{color: #000; font-weight: bold;}
.videoEdu_wrap .items .items_page a.page_active{font-weight: bold; position: relative; color: #000;}
.videoEdu_wrap .items .items_page a.page_active::after{content: ''; position: absolute; width: 18px; height: 2px; background: #000; bottom: -5px; left: 50%; transform: translateX(-50%);}

hr{border: none; border-top: 1px solid #ccc;}

.videoEdu_wrap .dream{margin-top: 40px;}
.videoEdu_wrap .dream p{font-size: 16px; margin-left: 60px; margin-bottom: 30px; position: relative;}
.videoEdu_wrap .dream p::before{content: ''; position: absolute; width: 46px; height: 46px; top: 50%; left: -58px; transform:translateY(-50%); background: url(../img/잡아바홈화면/직업훈련/dream.png) no-repeat;}
.videoEdu_wrap .dream p a span{color: #2660b6;}
.videoEdu_wrap .dream .dream_box ul li{width: 228px; float: left; margin-right: 30px; margin-bottom: 30px;}
.videoEdu_wrap .dream .dream_box ul li:nth-child(5n){margin-right: 0;}
.videoEdu_wrap .dream .dream_box ul li a .img_wrap{border-radius: 10px; margin-bottom: 15px; position: relative;}
.videoEdu_wrap .dream .dream_box ul li a .img_wrap img{border-radius: 10px; width: 228px; height: 145px;}
.videoEdu_wrap .dream .dream_box ul li a .img_wrap .runtime{position: absolute; bottom: 4px; left: 0; width: 68px; height: 20px; background: rgba(0,0,0,.5); border-bottom-left-radius: 10px; border-top-right-radius: 10px;}
.videoEdu_wrap .dream .dream_box ul li a .img_wrap .runtime span{position: relative; color: #fff; padding-left: 25px; font-size: 12px;}
.videoEdu_wrap .dream .dream_box ul li a .img_wrap .runtime span::before{content: ''; position: absolute; width: 10px; height: 10px; top: 50%; left: 8px; transform: translateY(-50%); background: url(../img/잡아바홈화면/직업훈련/time_icon.png) no-repeat;}
.videoEdu_wrap .dream .dream_box ul li a .dream_title{font-size: 15px; line-height: 1.3;}
.videoEdu_wrap .dream .dream_page{text-align: center; padding: 20px 0 50px;}
.videoEdu_wrap .dream .dream_page a{font-size: 13px; margin: 10px 25px; color: #666;}
.videoEdu_wrap .dream .dream_page a:hover{color: #000; font-weight: bold;}
.videoEdu_wrap .dream .dream_page a.page_active{font-weight: bold; position: relative; color: #000;}
.videoEdu_wrap .dream .dream_page a.page_active::after{content: ''; position: absolute; width: 18px; height: 2px; background: #000; bottom: -5px; left: 50%; transform: translateX(-50%);}







/* 하단영역 */
#footer{width: 100%; height: 398px;}
.fnb_wrap{width: 100%; height: 60px; border-top: 1px solid rgb(226, 226, 226); border-bottom: 1px solid rgb(226, 226, 226); z-index: 10;}
.fnb{float: left;}
.fnb ul{}
.fnb ul li{float: left; margin-right: 20px; line-height: 57px;}
.fnb ul li:after{content: "|"; color: rgb(226, 226, 226); display: inline-block;}
.fnb ul li:last-child:after{width: 0;}
.fnb ul li a{margin-right: 20px; font-size: 1.1em;}
.fnb ul li a span{color: rgb(255, 70, 24); font-weight: bold;}
.family_site{float: right; line-height: 60px; position: relative;}
.family_site select{padding: 10px 20px; border-radius: 5px; border: none; appearance: none; background: rgb(245, 245, 245); font-weight: bold;}
.family_site select option{float: left;}
.family_site_arr{background: url(../img/잡아바홈화면/f_select_sign.png) no-repeat; width: 13px; height: 8px; position: absolute; right: 10px; top: 25px;}

.f_num_area{width: 100%; height: 187px;}
.num_logo{width: 180px; height: 170px; background: url(../img/잡아바홈화면/f_logo.png) no-repeat left  20px top 40px; float: left;}
.f_info_area{float: left; width: 220px; height: 100%; padding-top: 46px;}
.f_info_area p:first-child{font-size: 1.3em; font-weight: bold; margin: 5px 0 20px 0; color: #0c0c0c;}
.f_info_area p{font-size: .9em; color: rgb(112, 112, 112); margin-bottom: 5px;}
.f_number{float: left;}
.f_number .num_left{width: 320px; height: 54px; padding-top: 46px; float: left;}
.f_number .num_left span{display: block; float: left; font-size: .95em; color: #0c0c0c; line-height: 200%; font-size: 12px;}
.f_number .num_left span.num_left_tit{width: 150px;}
.f_number .num_left span.bold_num{width: 170px; font-weight: bold; color: #353535;}
.f_number .num_right{width: 320px; height: 54px; padding-top: 46px; float: left;}
.f_number .num_right span{display: block; float: left; font-size: .95em; color: rgb(112, 112, 112); line-height: 200%; font-size: 12px;}
.f_number .num_right span.num_left_tit{width: 150px;}
.f_number .num_right span.bold_num{width: 170px; font-weight: bold; color: #353535;}

.f_sns{float: right; width: 200px; height: 131px;}
.f_sns>a{width: 100%; height: 76px; background: url(../img/잡아바홈화면/gyeonggi_slogan.png) no-repeat top center; display: block; margin-top: 30px;}
.f_sns .sns_list{width: 100%; height: 55px;}
.f_sns .sns_list a{}
.f_sns .sns_list a span{width: 40px; height: 40px; display: block; float: left;}
.f_sns .sns_list a span.facebook{background: url(../img/잡아바홈화면/f_face_ico.png) no-repeat center;}
.f_sns .sns_list a span.insta{background: url(../img/잡아바홈화면/f_insta_ico.png) no-repeat center;}
.f_sns .sns_list a span.youtube{background: url(../img/잡아바홈화면/f_youtube_ico.png) no-repeat center;}
.f_sns .sns_list a span.appstore{background: url(../img/잡아바홈화면/appstore.png) no-repeat center;}
.f_sns .sns_list a span.playstore{background: url(../img/잡아바홈화면/playstore.png) no-repeat center;}